<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="jobs">Create New Job</h1>
      <%= render 'shared/job_form' %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info' %>
    </td>
  </tr>
</table>
