<div class="menu bubplastic horizontal purple">
	<ul>
		<li>
		  <span class="menu_r">
		    <a href="/jobs" target="_self"><span class="menu_ar">Jobs</span></a>
		  </span>
		</li>
		<li>
		  <span class="menu_r">
		    <a href="/machines" target="_self"><span class="menu_ar">Machines</span></a>
		  </span>
		</li>
		<li>
		  <span class="menu_r">
		    <a href="/results" target="_self"><span class="menu_ar">Results</span></a>
		  </span>
		</li>
				<li>
		  <span class="menu_r">
		    <a href="/users" target="_self"><span class="menu_ar">Users</span></a>
		  </span>
		</li>
		<li>
		  <span class="menu_r">
		    <a href="/resources" target="_self"><span class="menu_ar">Resources</span></a>
		  </span>
		</li>
		<li>
		  <span class="menu_r">
		    <a href="/home/about" target="_self"><span class="menu_ar">About</span></a>
		  </span>
		</li>
	</ul>
	<br class="clearit" />
</div>
